svg{
  width:90%;
  height:90%;
  visibility:hidden;
}

.sparkle{
  /* mix-blend-mode:luminosity */
}
a {
  color: white;
  text-decoration: underline dotted #FFFFFF;
}
a:visited {
  color: red;
  
}
