
@font-face { font-family: 'JosefinSans'; src: url('/fonts/JosefinSans.ttf') format('truetype'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'AdventPro-Thin'; src: url('/fonts/AdventPro-Thin.ttf') format('truetype'); font-weight: normal; font-style: normal; }

* {
  font-family: 'JosefinSans';
  font-size: 1.4em; font-size: 14px;
}

h1 { font-family: 'AdventPro-Thin'; }
h2 { font-family: 'AdventPro-Thin'; }
h3 { font-family: 'AdventPro-Thin'; }
h4 { font-family: 'AdventPro-Thin'; }

#heading-1 { font-size: 2.8em; }
#heading-2 { font-size: 2.4em; }
#heading-3 { font-size: 1.8em; }
#heading-4 { font-size: 1.6em; }

.chapter a {
  font-size: 1.3em;
}

.image-wrapper.README {
    display: block;
    float: right;
    margin: 10px;
    padding: 5px;
}
